
#nav-bar{
    position: fixed;
    top: 0;
 }
 .flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 3em 15% 0 15%;
    }

    @media screen and (min-width: 480px) {
 
 
        body {
          background-color: white;
        }
      }
      .flex-container > div {
        text-align: left;
        font-size: 25px;
      }